* {
    /* margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; */
}

.icon {
    width: 75px;
    height: 75px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(123, 67, 151), rgb(220, 36, 48)) repeat scroll 0% 0%
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute {
    position: absolute;
}

.right-bottom {
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
}

.faq-content {
    height: 60vh;
    width: 20vw;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(123, 67, 151), rgb(220, 36, 48)) repeat scroll 0% 0%;
    right: 50px;
    bottom: 175px;
    border-radius: 10px;
}

.faq-content.hidden {
    display: none;
}

.faq-icon {
    position: absolute;
}

svg {
    width: 50px;
    height: 50px;
    fill: white;
}